*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* SETUP */
.big-container{
    width: 85%;
    margin: auto;
}
.small-container{
    width: 70%;
    margin: auto;
}

h1{
    font-size: 66px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 28px;
}

li a{
    font-size: 14px;
}

/* UTILITY */
.block{
    display: block;
}

.float-left{
    float: left;
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

/* utility margin */
.mg-20{
    margin-bottom: 20px;
}
.pd-5{
    padding: 5px;
}

.mg-container{
    margin-bottom: 100px;
}

.mg-box{
    margin: 0 2%;
}

/* utility button */
.butt-blue{
    background-color: rgb(45, 94, 255);
    color: white;
    border: 0 solid;
    transition: background-color .3s,
                box-shadow .3s;
}

.butt-white{
    background-color: white;
    color: black;
    border: 1px solid;
    transition: background-color .3s,
                box-shadow .3s;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 30px;
    padding: 15px 10px;
    background-color: white;
    z-index: 1;
}

nav,
header ul{
    display: inline-block;
}
header ul li{
    display: inline-block;
    margin: 0 10px;
}
header ul li a{
    text-decoration: none;
    color: black;
}

.box-left{
    width: 50%;
}

.box-left > img{
    vertical-align: middle;
    margin: 0 5px;
}

.box-right{
    width: 50%;
    text-align: right;
}
.box-right > button{
    padding: 5px 15px;
    margin-left: 15px;

}

/* MAIN SECTION */

/* INTRO WEBSITE */

.section-intro-website{
    width: 100%;
    padding-top: 40px;
    background-color: #b4d0e7;
}

.section-intro-website > .big-container{
    position: relative;
    top: 65px;
}

.text-container{
    width: 35%;
}
.text-container > button{
    padding: 5px 15px;
}
.text-container > span{
    font-size: 14px;
}
.text-container > i{
    font-size: 40px;
    margin-top: 40px;
}

.image-container{
    width: 65%;
}
.image-container img{
    width: 100%
}

/* PLAN DROPBOX */
.select-box {
    margin: 20px 0;
}
.select-box form label{
    margin-right: 10px;
}
.select-box form label:hover{
    cursor: pointer;
    margin-right: 20px;
}

/* table plan */
.table-container{
    width: 100%;
}

.table-container-left,
.table-container-center,
.table-container-right{
    width: calc(92% / 3);
    height: 700px;
    border: 1px solid #d0d0d3;
}

.table-container-center{
    margin: 0 4%;
}

.container-pd{
    padding: 0 10px;
    font-size: 14px;
}

.header-table-plan{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #d0d0d3;
}

.price{
    font-weight: bold;
}

.duration{
    color: #9595a3;
}

.list-table{
    list-style: none;
}

.list-table li{
    margin-bottom: 10px;
}

.container-pd > button{
    width: 100%;
    padding: 5px 15px;
}

.color-text{
    color: #0061ff;
}
.color-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

.highlights li i{
    color: #0061ff;
}

/* table container bottom */
.table-container-bottom{
    border: 1px solid #d0d0d3;;
}

.contact{
    padding: 20px;
}

.row-contact {
    width: 100%;
    margin-bottom: 10px;
}

.row-contact-left{
    width: 50%;
}

.row-contact-right{
    width: 50%;
    text-align: right;
}
.row-contact-right > button{
    padding: 5px 15px;
}

/* OTHER INFO */

.small-container .image-container{
    padding: 0 40px 40px 40px;
}
.small-container .text-container{
    padding-top: 20px;
}

/* TABLE OTHER INFO */
.business-container{
    width: 100%;
}
.business-container-left,
.business-container-center,
.business-container-right{
    width: calc(92% / 3);
}

.business-container-center{
    margin: 0 4%;
}
.business-container img{
    width: 100%;
}

.text-underline{
    text-decoration: underline;
}

/* TEAM DROPBOX BUSINESS */
.info-clients{
    text-decoration: none;
    color: rgb(45, 94, 255);
}
.info-clients:hover{
    text-decoration: underline;
}


/* TABLE EXAMPLE TEAM */
.full-container{
    width: 100%;
    height: 200px;
}
.box-container-center{
    width: 40%;
}

.box-container-left,
.box-container-right{
    width: calc(60% / 2);
}

/* subcontainer */
.subcontainer-box{
    width: 100%;
}

.box-table-left,
.box-table-right{
    width: 50%;
}

.box{
    width: 100%;
    height: 200px;
    position: relative;
}

.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
    width: 100px;
}

/* 4 BOX LEFT */
.box-designit{
    background-color: #a2d39b;
}
.box-uni-florida{
    background-color: #0093ce;
}
.box-arizona-uni{
    background-color: #61082b;
}
.box-topps{
    background-color: #ff1c1c;
}

/* 4 BOX RIGHT */
.box-word-bicycle{
    background-color: #d5001f;
}
.box-lonely{
    background-color: #0d2481;
}
.box-hearts{
    background-color: #b4d0e7;
}
.box-clear{
    background-color: #ffd830;
}

.box-container-center{
    background-color: #f5f5f5;
    height: 400px;
    padding: 30px;
}
.box-container-center img{
    width: 150px;
}
.box-container-center cite:first-of-type{
    margin: 40px 0;
}

/* DROPBOX BUSINESS FREE TRIAL */
.free-trial{
    width: 100%;
    background-color: #b4d0e7;
}
.free-trial .small-container{
    padding: 100px 0;
}
.free-trial .small-container .box-left{
    color: #61082b;
}
.free-trial .small-container .box-right button{
    border: 0;
    padding: 10px 40px;
}

/* ASK SECTION */
.ask > .pd-ask{
    border-bottom: 1px solid #dcdcde;
    padding: 30px 0;
    font-weight: bold;
}
.question{
    width: 100%;
}
.question p{
    width: 90%;
}
.question i{
    width: 10%;
    text-align: center;
}

/* FOOTER */
footer{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #000000;
}

.list-container{
    width: 100%;
    margin-bottom: 40px;
}

.footer-list{
    width: calc(100% / 5);
    color: white;
}

.footer-list nav ul li{
    font-weight: bold;
    list-style: none;
    margin-bottom: 8px;
}
.footer-list nav ul li:first-of-type{
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-list nav ul li a{
    text-decoration: none;
    color: white;
}

.footer-language{
    color: white;
}

.language{
    border: 0;
    background-color: black;
    color: white;
}